.setchecker-white-pawn {
    width: 40px;
    height: 40px;
    color: white;
    cursor: pointer;
}

.setchecker-black-pawn {
    width: 40px;
    height: 40px;
    color: black;
    cursor: pointer;
}